---
import Layout from "../../layouts/Layout.astro";

const title = "Kebijakan Privasi - SS Group";
const desc =
    "Baca kebijakan privasi SS Group untuk mengetahui bagaimana kami mengumpulkan, menggunakan, dan melindungi informasi pribadi Anda. Kami berkomitmen menjaga kerahasiaan dan keamanan data Anda saat mengakses situs kami.";
const url = "https://ssgroup.id/legal/privacy-policy";
const keywords =
    "privacy policy, kebijakan privasi, SS Group, data pribadi, perlindungan data, informasi pengguna, keamanan data, ssgroup.id";
---

<Layout title={title} description={desc} url={url} keyword={keywords}>
    <section
        class="py-24 md:py-32 2xl:py-40 flex flex-col justify-center items-center"
    >
        <div class="max-w-xs md:max-w-md lg:max-w-2xl font-poppins">
            <h1 class="text-center mb-14 font-normal tracking-wide text-2xl">
                PRIVACY POLICY
            </h1>

            <h2 class="font-normal text-base tracking-widest">
                1. WEBSITE TERMS
            </h2>
            <p class="mt-4 font-light tracking-wider text-sm">
                These Website Terms (together with the documents referred to)
                tell you the terms on which you may use our website <a
                    href="https://www.ssgroup.id"
                    class="underline text-[#D2AC47]">ssgroup.id</a
                > ("Website"). Please read these Website Terms carefully before you
                start using the Website. By using the Website, you indicate that
                you accept these Website Terms and agree to comply with them. If
                you do not agree to these terms, please do not use the Website. We
                reserve the right to change these Website Terms from time to time
                without notice.
            </p>

            <h2 class="font-normal text-base tracking-widest mt-10">
                2. ACCESSING THE WEBSITE
            </h2>
            <p class="mt-4 font-light tracking-wider text-sm">
                Access to the Website is permitted on a temporary basis, and we
                reserve the right to withdraw or amend the services we provide
                without notice. We will not be liable if the Website is
                unavailable at any time or for any period. From time to time, we
                may restrict access to some parts or all of the Website.
                <br /><br />
                If you choose, or are provided with, a user ID, password, or any
                other piece of information as part of our security procedures, you
                must treat such information as confidential and must not disclose
                it to any third party. We have the right to disable any user ID or
                password at any time if, in our opinion, you have failed to comply
                with any of the provisions of these Website Terms.
                <br /><br />
                You are responsible for making all arrangements necessary for you
                to have access to the Website. You are also responsible for ensuring
                that all persons who access the Website through your internet connection
                are aware of and comply with these terms.
            </p>

            <h2 class="font-normal text-base tracking-widest mt-10">
                3. INTELLECTUAL PROPERTY RIGHTS
            </h2>
            <p class="mt-4 font-light tracking-wider text-sm">
                We are the owner or licensee of all intellectual property rights
                on the Website and its content, including but not limited to
                text, graphics, photos, images, moving images, sound,
                illustrations, and software. These works are protected by
                copyright and trademark laws and treaties around the world. All
                such rights are reserved.
                <br /><br />
                Except as expressly permitted, no part of the Website or its content
                may be copied or retransmitted via any means. The Website and all
                related rights remain the exclusive property of us or our licensors.
                <br /><br />
                You may not use any part of the materials on the Website for commercial
                purposes without obtaining a written license from us. If you print,
                copy, or download any part in breach of these terms, your right to
                use the Website will cease immediately.
            </p>

            <h2 class="font-normal text-base tracking-widest mt-10">
                4. WEBSITE CHANGES REGULARLY
            </h2>
            <p class="mt-4 font-light tracking-wider text-sm">
                We aim to update the Website regularly and may change the
                content at any time. If necessary, we may suspend access or
                close it indefinitely. Any material on the Website may be out of
                date at any time, and we are under no obligation to update it.
            </p>

            <h2 class="font-normal text-base tracking-widest mt-10">
                5. OUR LIABILITY
            </h2>
            <p class="mt-4 font-light tracking-wider text-sm">
                The material displayed on the Website is provided without any
                guarantees, conditions, or warranties as to its accuracy. To the
                extent permitted by law, we exclude:
            </p>
            <ul class="list-disc ms-6 mt-2 text-sm font-light">
                <li>
                    All conditions, warranties, and other terms which might
                    otherwise be implied by statute, common law, or equity law.
                </li>
                <li>
                    Any liability for any direct, indirect, or consequential
                    loss or damage incurred by any user related to the Website
                    or in connection with the use, inability to use, or results
                    of the use of the Website, any websites linked to it, and
                    any material posted on it.
                </li>
            </ul>
            <p class="mt-4 font-light tracking-wider text-sm">Including:</p>
            <div class="ms-12 text-sm font-light">
                <p class="mt-2">1. loss of income or revenue;</p>
                <p class="mt-2">2. loss of business;</p>
                <p class="mt-2">3. loss of profits or contracts;</p>
                <p class="mt-2">4. loss of anticipated savings;</p>
                <p class="mt-2">5. loss of data;</p>
                <p class="mt-2">6. loss of goodwill; and</p>
                <p class="mt-2">7. wasted management or office time.</p>
            </div>
            <p class="mt-4 font-light tracking-wider text-sm">
                This does not affect our liability for death or personal injury
                caused by negligence, fraud, or any other liability which cannot
                be excluded or limited under applicable law.
            </p>

            <h2 class="font-normal text-base tracking-widest mt-10">
                6. INFORMATION ABOUT YOU AND YOUR VISITS
            </h2>
            <p class="mt-4 font-light tracking-wider text-sm">
                We process information about you in accordance with our Privacy
                Policy. By using the Website, you consent to such processing and
                warrant that all data provided by you is accurate.
            </p>

            <h2 class="font-normal text-base tracking-widest mt-10">
                7. UPLOADING CONTENT
            </h2>
            <p class="mt-4 font-light tracking-wider text-sm">
                Whenever you use a feature that allows you to upload material to
                the Website, you must comply with the content standards set out
                in these terms. You warrant that any contribution complies with
                those standards and that you have the right to upload such
                content.
                <br /><br />
                Any material you upload will be considered non-confidential and non-proprietary,
                and we have the right to use, copy, distribute, and disclose to third
                parties any such material.
            </p>

            <h2 class="font-normal text-base tracking-widest mt-10">
                8. ACCEPTABLE USE
            </h2>
            <p class="mt-4 font-light tracking-wider text-sm">
                These content standards apply to all material you contribute to
                the Website. Contributions must comply with the law and must
                not:
            </p>
            <ul class="list-disc ms-12 text-sm font-light mt-2">
                <li>
                    Contain defamatory, obscene, offensive, or hateful material;
                </li>
                <li>Promote sexually explicit material or violence;</li>
                <li>
                    Infringe any copyright, database right, or trademark of any
                    other person;
                </li>
                <li>Be likely to deceive any person;</li>
                <li>Promote illegal activity;</li>
                <li>Be threatening, abusive, or invade another's privacy;</li>
                <li>Be used to impersonate any person;</li>
                <li>Advocate or promote any unlawful act.</li>
            </ul>

            <h2 class="font-normal text-base tracking-widest mt-10">
                9. VIRUSES, HACKING AND OTHER OFFENSES
            </h2>
            <p class="mt-4 font-light tracking-wider text-sm">
                You must not misuse the Website by knowingly introducing viruses
                or other harmful material. Attempting unauthorized access to the
                Website or any connected server is prohibited. We will report
                any such breach to law enforcement authorities.
            </p>

            <h2 class="font-normal text-base tracking-widest mt-10">
                10. LINKING TO OUR WEBSITE
            </h2>
            <p class="mt-4 font-light tracking-wider text-sm">
                You must not link to our homepage without permission. We reserve
                the right to withdraw linking permission without notice.
            </p>

            <h2 class="font-normal text-base tracking-widest mt-10">
                11. LINKS FROM OUR WEBSITE
            </h2>
            <p class="mt-4 font-light tracking-wider text-sm">
                Where the Website contains links to other sites, these are
                provided for your information only. We have no control over the
                contents of those sites.
            </p>

            <h2 class="font-normal text-base tracking-widest mt-10">
                12. DATA USAGE
            </h2>
            <p class="mt-4 font-light tracking-wider text-sm">
                You are fully responsible for any costs incurred when accessing
                or using the Website, including internet provider fees or data
                charges.
            </p>
        </div>
    </section>
</Layout>
