---
import Layout from "../../layouts/Layout.astro";

const title = "Syarat & Ketentuan - SS Group";
const desc =
    "Baca syarat dan ketentuan penggunaan situs resmi SS Group. Ketahui hak, kewajiban, dan batasan penggunaan layanan yang berlaku untuk pengunjung situs kami.";
const url = "https://ssgroup.id/legal/terms-conditions";
const keywords =
    "terms and conditions, syarat dan ketentuan, SS Group, ketentuan penggunaan, website ssgroup, hak pengguna, akses situs, ssgroup.id";
---

<Layout title={title} description={desc} url={url} keyword={keywords}>
    <section
        class="py-24 md:py-32 2xl:py-40 flex flex-col justify-center items-center"
    >
        <div class="max-w-xs md:max-w-md lg:max-w-2xl font-poppins">
            <h1 class="text-center mb-14 font-normal tracking-wide text-2xl">
                TERMS & CONDITIONS
            </h1>

            <h2 class="font-normal text-base tracking-widest">
                WEBSITE TERMS OF USE
            </h2>
            <p class="mt-4 font-light tracking-wider text-sm">
                Welcome to the website dedicated to SS Group and accessible
                through <a
                    href="https://www.ssgroup.id"
                    class="underline text-[#D2AC47]">www.ssgroup.id</a
                >.
                <br /><br />
                Please read these Website Terms of Use carefully. By accessing this
                site, you accept them without objection.
                <br /><br />
                This site is developed and published by PT. Abil Mannaf Perkasa,
                located at Jl. K.H. Wahid Hasyim No.161, Central Jakarta, Indonesia,
                registered with the Ministry of Law and Human Rights of the Republic
                of Indonesia under number AHU-0258609.AH.01.11. Email: <a
                    href="mailto:info@ssgroup.id"
                    class="underline text-[#D2AC47]">info@ssgroup.id</a
                > (hereinafter referred to as the “Company” or “We”).
                <br /><br />
                This website is managed by SS Group. Contact details are provided
                at the end of this document.
            </p>

            <h2 class="font-normal text-base tracking-widest mt-10">
                ACCESS TO THE SITE
            </h2>
            <p class="mt-4 font-light tracking-wider text-sm">
                To access and use this website, you must be an adult (18 years
                or older) with a valid email address. If you do not meet this
                requirement, parental consent is required.
                <br /><br />
                You may be asked to complete required fields in a form marked with
                an asterisk. You must fill out these sections accurately. Inaccurate
                or incomplete registration is not acceptable.
                <br /><br />
                You acknowledge that the data you submit and stored on our system
                is accurate and constitutes your identity. Please inform us if your
                information changes.
                <br /><br />
                Access to the website or certain sections may require a personal
                access code. You are responsible for keeping these codes confidential
                and may change them at any time. Attempts to access the website may
                be limited to prevent misuse. Please notify us of any suspected misuse.
                <br /><br />
                If you fail to comply with these Website Terms, we reserve the right
                to suspend your access. You will be notified as soon as possible
                if this occurs.
                <br /><br />
                While we strive to ensure the website is accessible at all times,
                we cannot guarantee continuous access due to maintenance, updates,
                or factors beyond our control.
            </p>

            <h2 class="font-normal text-base tracking-widest mt-10">
                INTELLECTUAL PROPERTY RIGHTS
            </h2>
            <p class="mt-4 font-light tracking-wider text-sm">
                This website and its components (such as logos, images, text,
                videos, etc.) are protected by intellectual property rights.
                Development of this site is a significant investment and
                collective effort from our team.
                <br /><br />
                Unless otherwise stated, we do not grant permission to use the site
                beyond personal use. Any use, reproduction, or representation of
                the site or its content (in whole or in part), for commercial purposes
                or otherwise, is not permitted.
                <br /><br />
                In certain cases, we may authorize you to reproduce and/or display
                all or part of the site. Such authorization requests must be submitted
                to: <a
                    href="mailto:info@ssgroup.id"
                    class="underline text-[#D2AC47]">info@ssgroup.id</a
                >.
            </p>
        </div>
    </section>
</Layout>
